= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Select a category"}, {class: "form-control"} 
= f.input :name
= f.input :item
= f.input :size
= f.button :submit, class: 'btn btn-info'
