.container
  .row
  .col-md-10
    = form_tag brands_path, :method => :get do
      .input-group
        = text_field_tag :search, params[:search], class: 'search-query form-control', placeholder: 'search brands...'
        %span.input-group-btn
          %button.btn.btn-info{:type => "submit"}
            %span.glyphicon.glyphicon-search
        -# = submit_tag "Search", :name => nil
    %h2 Brand
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Category
          %th ItemNumber
          %th Name
          %th Item
          %th Size
          %th
            = link_to 'New', new_brand_path(), class: 'btn btn-large btn-success'
      %tbody
      - @brands.each do |brand|
        %tr
          %td
            = brand.category
          %td
            = brand.item_code
          %td
            = brand.name
          %td
            = brand.item
          %td
            = brand.size
          %td
            = link_to edit_brand_path(brand), class: 'btn btn-warning' do
              %span.glyphicon.glyphicon-pencil
            = link_to brand_path(brand), data: {confirm: 'Are You Sure?'}, class: 'btn btn-danger', method: :delete do
              %span.glyphicon.glyphicon-trash
    = paginate @brands
